@import '../../global_variables.scss';

.root {
    position: relative;
    padding: 1rem 0 0 2rem;
}

.content {
    display: flex;
}

.infoSide {
    width: 55%;
    margin-top: 1rem;
}

.photoSide {
    padding: 1rem 2rem 0 2rem;
}

.label {
    font-size: 1.1rem;
    color: gray;
}

.textArea {
    border: .1rem solid $grey-color;
    resize: none;
    width: 90%;
}

.photo {
    width: 90%;
}

.solidLine {
    background-color: $grey-color;
    width: 8rem;
    height: .1rem;
    margin: .9rem auto;
}

