.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #E3E3E3;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    padding: 4rem 2rem 0 2rem;
    text-align: center;
}

.sidebar h4 + h4 {
    margin-top: 2rem;
}

.list {
    list-style: none;
}